{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/about-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading">This is what I do.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>
          Welcome to my digital space - a crossroads where the harmonies of
          music meet the logic of code. I'm Georgios, a former Principal
          Trombonist turned Cybersecurity Analyst and Software Developer,
          threading the narratives of my life's symphony from the heart of
          Greece to the vibrant tech scene of the Netherlands.
        </p>
        <p>
          In this blog, I share my musings on the ever-evolving world of
          technology, insights from my journey through the realms of
          cybersecurity, and the occasional philosophical ramble inspired by the
          strings of a trombone. As a lifelong learner who's made a home in
          Voorburg, my posts are tinted with the hues of a Greek soul adapting
          to Dutch rhythms.
        </p>
        <p>
          Here, you'll find a blend of technical tutorials, cybersecurity
          trends, personal growth stories, and reflections on the parallels
          between music and coding - two forms of universal language that
          resonate with me. My path from the Athens Philharmonic Orchestra to
          the intricate web of network security has been a tale of
          transformation, fueled by a passion for problem-solving and a knack
          for creative solutions.
        </p>
        <p>
          Join me as I explore the symphony of life, sharing lessons learned
          from the discipline of the arts and the precision of technology.
          Whether you're here for the tech insights or the stories behind the
          code, I invite you to journey alongside me. Let's discover the magic
          that happens when you dare to change the score.
        </p>

        <p>
          <i
            >If you already read this intro, you are probably thinking that the
            text was created by an AI, you are correct! Writting is not one of
            my talents, so when ever I can help my self with techonology I do
            it.</i
          >
        </p>
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}